div.topMenu{
  margin-top: 2px;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.btn{
  width: 150px;
  height: 30px;
  margin-right: 10px;
  background-color: #062f4f;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.menuActive {
  color: white;
  border-radius: 20px;
  font-weight: bold;
}

li{
  display: inline-block;
  list-style-type: none;
  width: 150px;
  height: 40px;
  background: #062f4f;
  margin-right: 10px;
  text-align: center;
  line-height: 40px;
  //border-radius: 20px;
  color: lightgrey;
  transform: skewX(-45deg);
}

li a{
  text-decoration: none;
  display: block;
  transform: skewX(45deg);
  color: lightgrey;
}

a, a:visited, a:focus, a:active, a:hover{
  outline: 0 none;
}

li a:hover{
  transform: scale(1.2);
}

li a:visited{
  text-decoration: none;
  color: lightgrey;
  transform: skewX(45deg);
}

li a.menuActive {
  color: yellow;
  //background: blueviolet;
  //border-radius: 20px;
  transform: skewX(45deg);
}

@media (max-width: 550px) {
  li{
    display: block;
  }
}