
.searchSong, .playSong, .playerArray{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.chooseCategory, .chooseSong{
  color: #fff;
  background-color: #779126;
  padding: 5px;
  font-size: 18px;
}

.playSong{
  width: 100px;
  border: 1px solid white;
  border-radius: 20px;
  background: #062f4f;
  cursor: pointer;
  margin-top: -3px;
  font-weight: bold;
  color: white;
  line-height: 40px;
}

.catSong{
  width: 90px;
  height: 40px;
  line-height: 40px;
  padding-right: 5px;
  text-align: center;
  color: white;
  font-weight: bold;
}

@media (max-width: 535px) {
  .searchSong, .playSong, .playerArray{
    flex-wrap: wrap;
  }
}

